{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16000,
    "vram": 24000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "python",
          "app.py",
          "--prompt",
          "{{js .prompt}}"
        ],
        "Image": "arsen3d/lilypad-flux:schnell@sha256:04acc6bfcba1f73608a9d18e0fa957ab4bdf1f80dbd0e3b9ca37c438215d0387"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "16Gb"
      },
      "Timeout": 600,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
    
  }
}
