{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "python",
          "output_script.py"
        ],
        "Image": "arsen3d/flux:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 600,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "output",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
    
  }
}