{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 64000
    "vram": 24000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "python",
          "app.py",
          "--prompt",
          "{{.prompt}}"
        ],
        "Image": " arsen3d/lilypad-flux:schnell@sha256:0e93548f62649a6cfca55ecd60500cd46f778a588c0619c30b34329cf79f7f3"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 600,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "output",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
    
  }
}